$colors-primary: #407f3e;
$colors-secondary: #89b449;
$colors-tertiary: #dbd468;
$colors-1: #e7e0c4;
$colors-2: #e68a8c;
$colors-text: #394a51;
$boder-radius-page: 24px;
$boder-radius-item: 12px;
$box-shadow-item: 4px 4px 8px #dbdbdb, -4px -4px 8px #f5f5f5;
$box-shadow-page: 4px 8px 24px #adadad, -8px -8px 16px #f5f5f5;
$font-family: "Nunito";
$colors-bg-page: whitesmoke;
